
/* Core styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.text-primary {
    color: #93cb52;
}


/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: #333333;
    color: #ffffff;
    z-index: 1;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 0.5rem;
}
