
/* Core styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.text-primary {
    color: #93cb52;
}


/* utility classes */
.large-text {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    color: #ffffff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
}

.button:hover {
    background: #7ab436;
}

.dark-button {
    background: darkgrey;
    color: #ffffff;
}


/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: #333333;
    color: #ffffff;
    z-index: 1;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 0.5rem;
}


/* Header / showcase */
#showcase {
    height: 100vh;
    background: #333333 url("../images/showcase.jpg") no-repeat center center/cover;
    color: #ffffff;
}

#showcase .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 65px;
    text-align: center;
    justify-content: center;
    /* needs height to be set on the container */
    align-items: center;
    padding: 0 2rem;
}
