
/* Core styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.text-primary {
    color: #93cb52;
}


/* utility classes */
/*.content {*/
    /*max-width: 1100px;*/
    /*margin: auto;*/
    /*padding: 1rem 2rem;*/
    /*overflow: hidden;*/
/*}*/

.large-text {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.medium-text {
    font-size: 3rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
    padding: 1rem;
}

.light-background {
    background: lightgrey;
    color: #333333;
}

.dark-background {
    background: #333333;
    color: lightgrey;
}

.primary-background {
    background: #93cb52;
}

.text-white {
    color: #ffffff;
}

.list {
    list-style: none;
    margin: 0.5rem 0;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid darkgrey;
}

.padding-2 {
    padding: 2rem;
}

.padding-1 {

}

.vertical-padding-1 {
    padding: 1.5rem 0;
}

.vertical-padding-2 {
    padding: 2rem 0;
}

.vertical-padding-3 {
    padding: 2.5rem 0;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    color: #ffffff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
}

.button:hover {
    background: #7ab436;
}

.dark-button {
    background: darkgrey;
    color: #ffffff;
}


/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: #333333;
    color: #ffffff;
    z-index: 1;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 0.5rem;
}


/* Header / showcase */
#showcase {
    height: 100vh;
    background: #333333 url("../images/showcase.jpg") no-repeat center center/cover;
    color: #ffffff;
}

#showcase .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    /* needs height to be set on the container */
    align-items: center;
    padding: 0 2rem;
}

/* Section "What We Do" */

#what .content {
    max-width: 1100px;
    margin: auto;
    padding: 1rem 2rem;
    overflow: hidden;
}

.items-container {
    display: flex;
    padding: 1rem;
}

.item {
    /* means "take one column" or be equal size in this case */
    flex: 1;
    text-align: center;
    padding: 2rem;
}

.item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section "Who We Are" */
#who .content {
    display: flex;
}

#who .content div {
    flex: 1;
}

#who #who-image {
    background: url("../images/people.jpg") no-repeat center center/cover;
}

/* Section "Clients" */
#clients img {
    display: block;
    width: 60%;
    margin: auto;
}

/* Section "Contact" */
#contact {
    display: flex;
}

#contact #contact-form, #contact #map {
    flex: 1;
}

.form-group {
    margin: 0.75rem;
}

.form-group label {
    display: block;
    padding: 0.2rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
}

#contact form button {
    border: 1px solid lightgrey;
    margin-left: 0.8rem;
}

